.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #ffffff, #abd6ff);
  overflow: hidden;
  z-index: -1;
}
  
// .background::before {
//   content: "";
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background-image: radial-gradient(rgba(104, 208, 12, 0.1) 5%, transparent 5%);
//   background-size: 8px 8px;
//   opacity: 0.3;
// }
  
.parallax {
  position: absolute;
  width: 150%;
  height: 150%;
  background: radial-gradient(circle, rgba(27, 123, 212, 0.2) 10%, transparent 70%);
  transition: transform 0.1s ease-out;
}
  