.about-section {
  display: flex;
  padding: 2rem;
  align-items: center;
  margin-top: 1rem; //마진
  flex-direction: column;
  .container {
    display: flex;
    flex-direction: row;
  }
  .left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right {
    flex: 1;
    // padding-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .about-section {
    flex-direction: column;
    text-align: center;
    .container {
      flex-direction: column;
    }
    .right {
      align-items: center;
      padding-left: 0;
    }
    // .left {
    //   width: 60%;
    // }
  }
  
  
  // .skills {
  //   flex-direction: row;
  // }
}
