// html, body {
//     font-family: 'Roboto Mono', monospace;
//     background: #212121;
//     height: 100%;
//     margin: 0;
//   }
  
  .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text {
    font-weight: 100;
    font-size: 28px;
    color: black;
  }
  
  .dud {
    color: #757575;
  }
  