.project-card {
  width: 100%;           // Fill the grid cell width
  aspect-ratio: 3 / 3;    // Maintain a 4:3 ratio
  position: relative;
  perspective: 1000px;
  overflow: hidden;

  .front,
  .back {
  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 1s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }

  // Front side: default face
  .front {
    // No additional transform here
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;  // Ensure image fills the card while preserving its aspect ratio
      transition: all 0.6s ease 0.2s;
      border: 7px solid #060c1f;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
      border-color: #fff;
    }
  }

  // Back side: hidden until hover
  .back {
    transform: rotateY(-180deg);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.6s ease 0.2s;
      border: 7px solid #060c1f;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
      border-color: #041135;
    }
  }

  figcaption {
    position: absolute;
    left: 50%;
    top: 50%;
    backface-visibility: hidden;
    transform: translate(-50%, -50%) translateZ(100px);
    color: #fff;
    font-size: 20px;
    display: block;
    text-align: center;

    h3 {
      min-width: 200px;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 24px;
      color: white;
    }

    p {
      font-weight: 200;
      padding-top: 5px;
      color: white;
    }
  }

  &:hover {
    .front {
      transform: rotateY(180deg);
    }
    .back {
      transform: rotateY(0);
    }
  }
}